body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

#main {
    padding: 0.2%;
}

textarea {
    padding: 0.5%;
}
#submit-container {
    padding: 0.2%;
}

button {
    padding: 0.3%;
}
#out {
    padding: 0.3%;
    font-family: 'Courier New', Courier, monospace;
}



